<%= link_to "Sign Out", signout_path %>  
<%= link_to "Home", root_url %>  

<ul id="qanda">
  <% @faqs.each do |faq| %>
    <li class="pair">
    <div class="editable">
      <%= render :partial => 'faqs/home_form', :object => faq %>
    </div>
    <div class="preview">
      <%= red(faq.question) %>
      <%= red(faq.answer) %>
      <%= link_to 'Show', faq %>
      <%= link_to 'Edit', edit_faq_path(faq) %>
      <%= link_to 'Destroy', faq, :confirm => 'Are you sure?', :method => :delete %>
    </div>
    </li>
  <% end %>
  <%= link_to 'New Faq', new_faq_path %>
</ul>
