<p id="notice"><%= notice %></p>

<p>
  <b>Src:</b>
  <%= @network.src %>
</p>

<p>
  <b>Href:</b>
  <%= @network.href %>
</p>

<p>
  <b>Title:</b>
  <%= @network.title %>
</p>

<p>
  <b>Position:</b>
  <%= @network.position %>
</p>

<p>
  <b>Which:</b>
  <%= @network.which %>
</p>


<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
