<div id="recipe_container" > 
  <div id="recipe-title" class="editable">
    <span class='val' contentEditable='true' ><%= @recipe.title %></span>
  </div>
  <div class="recipe">
    <table>
      <tbody id="part-list">
      </tbody>
    </table>
    <div id="new-part">
      <div class="amount-col"> <input id="new-amount" placeholder="12" /> </div>
      <div class="unit-col">g</div>
      <div class="name-col"> 
        <input id="new-name" placeholder="salt" /> 
        <input id="new-name-id" type="hidden" /> 
      </div>
      <div class='percent-col'>
        <input id="new-percent" />
      </div>
      <div class="fixed-percent"> </div>
      <div class="button-col"> <button class='icon icononly add button'></button> </div>
    </div>
    <div id="recipe-photo"> 
      <% if @recipe.photo %> 
        <span><%= @recipe.photo.html_safe %></span>
        <textarea><%= @recipe.photo.html_safe %></textarea>
      <% else %>
        <span></span>
        <textarea></textarea>
      <% end %>
    </div>
  </div>
  <ul id="stats"> </ul>
  <div id="notes_container">
    <div id="new-note" >
      <textarea id="new-note-body" rows='3'></textarea></br>
      <input class="new-note button" type="button" value='New Note' />
    </div>
  </div>
</div>

<script type="text/javascript">
  var Recipe;
  var ingredients = <%= @ingredients.to_json.html_safe %>;
  $(function() {
    // By default, Underscore uses ERB-style template delimiters, this change
    // makes it use mustache style.
    _.templateSettings = {
      interpolate : /\{\{([\s\S]+?)\}\}/g
    };
    Recipe = new App.Models.Recipe(<%= @recipe.to_json(:only => [:title, :id], :methods => [:parts_name, :notes_md]).html_safe %>);

    $( "#new-name" ).autocomplete({
      minLength: 0,
      source: ingredients,
      focus: function( event, ui ) {
        $( "#new-name" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#new-name" ).val( ui.item.label );
        $( "#new-name-id" ).val( ui.item.value );

        return false;
      }
    })
    $.ui.autocomplete.prototype._renderItem = function( ul, item ) {
      return $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append( "<a>" + item.label + "</a>" )
        .appendTo( ul );
    };
  });
</script>

<script type="text/template" id="primary-part-li">
  <td class='amount-col editable'>
    <span class="amount"> {{amount}} </span>
    <input class="val edit-amount" value={{amount}} />
  </td>
  <td class='unit-col'> g </td>
  
  <td class='name-col'>
    <span class="primary-name"> {{ingredient.name}} </span>
  </td>
  <td class='percent-col'> </td>
  <td class="fixed-percent"> </td>
  <td class='button-col'> </td>
</script>

<script type="text/template" id="part-li">
  <td class='amount-col editable'>
    <span class="amount"> {{amount}} </span>
    <input class="val edit-amount" value={{amount}} />
  </td>

  <td class='unit-col'> g </td>
    
  <td class='name-col editable'>
    <span class="name"> {{ingredient.name}} </span>
    <input class="val edit-name" type="text" value={{ingredient.name}} />
    <input class="edit-name-id" type="hidden" value={{ingredient_id}} />
  </td>
  <td class='percent-col editable'>
    <span class="percent">{{percent}}</span>
    <input class="val edit-percent " value={{percent}} />
  </td>
  <td class="fixed-percent"> 
    <button class='fixed-percent-input icon icononly button'></button>
  </td>
  <td class='button-col'>
    <button class='icon icononly remove danger button'></button>
  </td>
</script>

<script type="text/template" id="recipe-stats">
    <li id="hydration">
      <span class='val' >{{hydration}}</span>
      <span class='label'>hydration</span>
    </li>
    <li id="inoculation">
      <span class='val' >{{inoculation}}</span>
      <span class="label">inoculation</span>
    </li>
    <li id="flour-mass">
      <span class='val' >{{flour_mass}}</span>
      <span class="label">flour mass</span>
    </li>
</script>

<script type="text/template" id="note-li">
  <div class="show-body">
    <div class="time">{{time}}</div>
    <button class='icon icononly remove danger button'></button>
    <div class="body">{{markdown}}</div>
  </div>
  <div class="edit-body">
    <textarea class="body-input" >{{body}}</textarea>
    <input class="body-submit button" type="button" value = 'Save' />
    <input class="body-cancel button" type="button" value = 'Cancel' />
  </div>
</script>

