<div id="recipe_container" > 
  <div class="recipe">
    <h1> <%= @recipe.title %> </h1></br>
    <%= @recipe.photo ? @recipe.photo.html_safe : ''%>
    <table>
      <tbody id="part-list">
        <% @recipe.parts.each do |p| %>  
          <tr class="part">
            <td class='amount-col'> <span class="amount"><%=p.amount%> </span></td>
            <td class='unit-col'> g </td>
            <td class='name-col'> <%= p.ingredient.name %> </td>
            <td class='percent-col'> <%= p.primary ? '' : p.percent.to_s+'%' %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <span class="stats"> </span>
  </div>
  <div id="notes_container">
    <% @recipe.notes.reverse.each do |n| %>
      <div class="note"> 
        <span class="time"> <%= time_ago_in_words(n.time) %> ago </span></br>
        <span class="body"> <%= n.body %> </span>
      </div>
    <% end %>
  </div>
</div>
