<div id="recipe_container" > 
  <h1 id="recipe-title"> <%= @recipe.title %> </h1></br>
  <div class="recipe">
    <table>
      <tbody id="part-list">
        <% @recipe.parts.each do |p| %>  
          <tr class="part">
            <td class='amount-col'> <span class="amount"><%=p.amount%> </span></td>
            <td class='unit-col'> g </td>
            <td class='name-col'> <%= p.ingredient.name %> </td>
            <td class='percent-col'> <%= p.primary ? '' : p.percent.to_s+'%' %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id='recipe-photo'>
      <%= @recipe.photo ? @recipe.photo.html_safe : ''%>
    </div>
  </div>
  <ul id="stats">
    <li id="hydration">
      <span class='val'><%=@stats['hydration'].round() %>%</span>
      <span class='label'>hydration</span>
    </li>
    <li id="inoculation">
      <span class='val'><%=@stats['inoculation'].round() %>%</span>
      <span class="label">inoculation</span>
    </li>
    <li id="flour_mass">
      <span class='val'><%=@stats['flour_mass'].round() %>g</span>
      <span class="label">flour mass</span>
    </li>
  </ul>
  <div id="notes_container">
    <% @recipe.notes.reverse.each do |n| %>
      <div class="note"> 
        <span class="time"> <%= time_ago_in_words(n.time) %> ago </span></br>
        <span class="body"> <%= markdown.render(n.body).html_safe %> </span>
      </div>
    <% end %>
  </div>
</div>
