<div id="recipe_container" > 
  <h1 id="recipe-title"> <%= @recipe.title %> </h1></br>
  <div class="recipe">
    <table>
      <tbody id="part-list">
        <% @recipe.parts.each do |p| %>  
          <tr class="part">
            <td class='amount-col'> <span class="amount"><%=p.amount%> </span></td>
            <td class='unit-col'> g </td>
            <td class='name-col'> <%= p.ingredient.name %> </td>
            <td class='percent-col'> <%= p.primary ? '' : p.percent.to_s+'%' %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </br>
  <%= @recipe.photo ? @recipe.photo.html_safe : ''%>
  </div>
  <div id="stats">
    <div id="hydration">
      <span class='label'>hydration</span>
      <span class='val'><%=@stats['hydration'] %> %</span>
    </div>
    <div id="inoculation">
      <span class="label">inoculation</span>
      <span class='val'><%=@stats['inoculation'] %> %</span>
    </div>
    <div id="flour_mass">
      <span class="label">flour mass</span>
      <span class='val'><%=@stats['flour_mass'] %> g</span>
    </div>
  </div>
  <div id="notes_container">
    <% @recipe.notes.reverse.each do |n| %>
      <div class="note"> 
        <span class="time"> <%= time_ago_in_words(n.time) %> ago </span></br>
        <span class="body"> <%= n.body %> </span>
      </div>
    <% end %>
  </div>
</div>
