<div class="<%= faq.visible ? "":" draft"%>">
  <div class="question">
    <h4><%= faq.question %></h4>
  </div>
  <div class="answer">
    <%= red(faq.answer) %>
    <% if current_user and current_user.admin %>
      <%= link_to 'Edit', edit_faq_path(faq) %>
      <%= link_to 'Destroy', faq, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>
</div>

