<li class="question">
  <h3><%= faq.question %></h3>
</li>
<li class="answer<%= faq.visible ? "":" draft"%>">
<%= red(faq.answer) %>
<% if current_user and current_user.admin %>
  <%= link_to 'Edit', edit_faq_path(faq) %>
  <%= link_to 'Destroy', faq, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</li>

