<div id="user_nav">  
  <% if current_user %>  
    Welcome, <%= current_user.name %>!  
    <%= link_to "Sign Out", signout_path %>  
    <% if current_user.admin %>
      <%= link_to "Edit faqs", faqs_path %>  
    <% end %>
  <% end %>  
</div>

<div id="name_header">
  <h1> ashleigh baumgardner </h1>
</div>

<div class="same_bg">
  <%= render 'networks' %>
  <div id="about">
    <%= red(@about.answer) %>
  </div>
  <div id="qanda">
    <a href="#" id="toggle_all">Show all</a>
    <%= render :partial => 'faq', :collection => @faqs %>
  </div>

</div>
