<div id="name_header">
  <h1> ashleigh baumgardner </h1>
  <%= link_to image_tag('http://www.gravatar.com/avatar/3be78cd4d00d1de7591f489d02830dd5?s=80'), href="http://www.flickr.com/people/lashleigh/photosof/", :class=>"gravatar" %>
</div>

<div class="same_bg">
  <ul id="networks">
    <%= render :partial => 'network', :collection => @primary %>
  </ul>
  <div id="about">
    <%= red(@about.answer) %>
  </div>
  <div id="qanda">
    <h3>Responses to a few common interview questions </h3>
    <%= image_tag 'up_arrow.png', :id => "arrow", :class=> 'arrow_up fast_transition' %>
    <%= render :partial => 'faq', :collection => @faqs %>
  </div>

</div>
