<div id="name_header">
  <h1> ashleigh baumgardner </h1>
  <%= link_to image_tag('http://www.gravatar.com/avatar/3be78cd4d00d1de7591f489d02830dd5?s=80'), href="http://www.flickr.com/people/lashleigh/photosof/", :class=>"gravatar" %>
</div>

<div class="same_bg">
  <ul id="networks">
    <%= render :partial => 'network', :collection => @primary %>
  </ul>
  <div id="about">
    <%= red(@about.answer) %>
  </div>
  <div id="qanda">
    <span>
      <h3>Responses to a few common interview questions </h3>
      <%= image_tag 'up_arrow.png', :id => "arrow", :class=> 'arrow_up fast_transition' %>
    </span>
    <%= render :partial => 'faq', :collection => @faqs %>
  </div>
</div>
<div id="tbox"></div>
  <span id="follow-placeholder"></span>
  <span id="login"></span>
  <script type="text/javascript">

    twttr.anywhere(function (T) {
      T("#follow-placeholder").followButton('lashleigh');
    });

  </script>
<div id="footer">
  <%= link_to image_tag("http://i.creativecommons.org/l/by/3.0/80x15.png"), href="http://creativecommons.org/licenses/by/3.0/us" %>
  Unless otherwise noted, the content on this site is licensed under a 
  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
</div>
<div id="ribbon_wrapper">
  <div class="ribbon">
    <a href="http://github.com/lashleigh/portfolio" rel="me">Fork me on GitHub</a>
  </div>
</div>
