<div id="user_nav">  
  <% if current_user %>  
    Welcome, <%= current_user.name %>!  
    <%= link_to "Sign Out", signout_path %>  
    <% if current_user.admin %>
      <%= link_to "Edit faqs", faqs_path %>  
    <% end %>
  <% end %>  
</div>

<div id="name_header">
  <h1> ashleigh baumgardner </h1>
</div>

<%= render 'networks' %>

<ul id="qanda">
  <% @faqs.each do |faq| %>
    <li class="question">
      <%= red(faq.question) %>
    </li>
    <li class="answer">
    <%= red(faq.answer) %>
    <% if current_user and current_user.admin %>
      <%= link_to 'Edit', edit_faq_path(faq) %>
      <%= link_to 'Destroy', faq, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </li>
  <% end %>
</ul>
    
</div>
