<!DOCTYPE html><head>
    <title>Ashleigh</title>
    <script src="http://platform.twitter.com/anywhere.js?id=Ld2DdvWAZLvm9lP5pcA&amp;v=1"> </script>
    <script type="text/javascript">
       twttr.anywhere(function(T) {
          T.hovercards({expanded: true});
          T("#login").connectButton();
          T("#follow-placeholder").followButton('lashleigh');
          T("#tbox").tweetBox({
            height: 100,
            width: 400,
            defaultContent: "<YOUR DEFAULT TWEETBOX CONTENT HERE>", 
            label: "What happening?"
          });
       });
    </script>

    <%= javascript_include_tag "jquery-1.4.4.min", "jquery.rails.js" %>
    <%= javascript_include_tag 'prettify/prettify' %>
    <%= javascript_include_tag 'home' %>

    <%= stylesheet_link_tag 'prettify' %>
    <%= stylesheet_link_tag 'home' %>

</head>
<body>
  <% flash.each do |name, msg| %>  
    <%= content_tag :div, msg, :id => "flash#{name}" %>  
  <% end %> 
  <div id="content" class="padded">
    <div id="tbox"></div>
    <span id="follow-placeholder"></span>
    <span id="login"></span>

    <%= yield %>
  </div>
</body></html>

