<!DOCTYPE html><head>
    <title>Ashleigh</title>
    
    <%= javascript_include_tag "jquery-1.4.4.min", "jquery.rails.js" %>
    <%= javascript_include_tag 'prettify/prettify' %>
    <%= javascript_include_tag 'home' %>

    <%= stylesheet_link_tag 'prettify' %>
    <%= stylesheet_link_tag 'home' %>

</head>
<body>
  <div id="user_nav">  
    <% if current_user and current_user.admin %>  
      <%= link_to "Sign Out", signout_path %>  
      <%= link_to "Home", root_url %>
      <%= link_to "Faqs", faqs_path %>  
      <%= link_to "Networks", networks_path %>  
    <% end %>  
  </div>

  <div id="content" class="padded">
    <% flash.each do |name, msg| %>  
      <%= content_tag :div, msg, :id => "flash#{name}" %>  
    <% end %> 
    <%= yield %>
  </div>
</body></html>

