<!DOCTYPE html><head>
    <title>Ashleigh</title>
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/home.less" >
    
    <%= javascript_include_tag "jquery-1.4.4.min", "jquery.rails.js" %>
    <%= javascript_include_tag 'prettify/prettify' %>
    <%= javascript_include_tag 'home' %>
    <%= javascript_include_tag 'less-1.0.41.min' %>

    <%= stylesheet_link_tag 'prettify' %>

</head>
<body>
  <div id="user_nav">  
    <% if current_user %>  
      Welcome, <%= current_user.name %>!  
      <%= link_to "Sign Out", signout_path %>  
      <%= link_to "Home", root_url %>
      <% if current_user.admin %>
        <%= link_to "Edit faqs", faqs_path %>  
        <%= link_to "Edit networks", networks_path %>  
      <% end %>
    <% end %>  
  </div>

  <div id="content" class="padded">
    <% flash.each do |name, msg| %>  
      <%= content_tag :div, msg, :id => "flash#{name}" %>  
    <% end %> 
    <%= yield %>
  </div>
</body></html>

