<!DOCTYPE html><head>
    <title>Ashleigh</title>
    <%= javascript_include_tag "jquery-1.4.4.min", "jquery.rails.js" %>
    <%= javascript_include_tag 'prettify/prettify' %>
    <%= javascript_include_tag 'home' %>

    <%= stylesheet_link_tag 'prettify' %>
    <%= stylesheet_link_tag 'home' %>

</head>
<body>
  <% flash.each do |name, msg| %>  
    <%= content_tag :div, msg, :id => "flash#{name}" %>  
  <% end %> 
  <div id="content_wrap">
      <%= render 'home/header' %>
      <div id="content">
        <%= yield %>
      </div>
    <%= render 'home/footer' %>
  </div>
</body></html>

