<!DOCTYPE html><head>
    <title>Ashleigh</title>
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/home.less" >
    
    <%= javascript_include_tag "jquery-1.4.4.min", "jquery.rails.js" %>
    <%= javascript_include_tag 'prettify/prettify' %>
    <%= javascript_include_tag 'home' %>
    <%= javascript_include_tag 'less-1.0.41.min' %>

    <%= stylesheet_link_tag 'prettify' %>

</head>
<body>
  <% flash.each do |name, msg| %>  
    <%= content_tag :div, msg, :id => "flash#{name}" %>  
  <% end %> 
  <div id="content">
    <%= yield %>
  </div>
</body></html>

