<!DOCTYPE html><head>
    <title>Ashleigh</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
</head>
<body>
  <div id="page_wrap">
    <div id="flash_wrap">
      <% flash.each do |name, msg| %>  
        <%= content_tag :div, msg, :id => "flash#{name}" %>  
      <% end %> 
    </div>
    <div id="content_wrap">
      <%= render 'home/header' %>
      <div id="content">
        <%= yield %>
      </div>
      <%= render 'home/footer' %>
    </div>
  </div>
</body></html>

