<!DOCTYPE html><head>
    <title>Ashleigh</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
</head>
<body>
  <div class='container'>
    <div id="flash_wrap">
      <% flash.each do |name, msg| %>  
        <%= content_tag :div, msg, :id => "flash#{name}" %>  
      <% end %> 
    </div>
    <div class="row">
      <span class="span12" id="name_header">
        <%= render 'home/header' %>
      </span>
    </div>
    <div class="row">
      <span class="span12" id='content'>
        <%= yield %>
      </span>
    </div>
    <%= render 'home/footer' %>
  </div>
</body>
</html>

