<!DOCTYPE html><head>
    <title>Ashleigh</title>
    <link rel="stylesheet/less" type="text/css" href="stylesheets/home.less" >
    <script src="javascripts/less-1.0.41.min.js" type="text/javascript"></script>
    
    <%= javascript_include_tag "jquery-1.4.4.min", "jquery.rails.js" %>
    <%= javascript_include_tag 'prettify/prettify' %>
    <%= javascript_include_tag 'home' %>

    <%= stylesheet_link_tag 'prettify' %>

</head>
<body>
  <div id="content">
    <%= yield %>
  </div>
</body></html>

